.desktop-content {
  display: flex;
  flex-direction: row;
  padding: 2em;
}

.mobile-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.ptx-logo {
  float: right;
  margin-right: 1em;
}